@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-container: var(--color-cyan-500);
  --sub-container: var(--color-cyan-400);
  --button-container: var(--color-blue-500);
  --accent-element: var(--color-cyan-300);
  --hover: var(--color-blue-700);
  --active-element: var(--color-blue-300);
  --input: var(--color-gray-300);
}

:root.dark {
  --background: #0f172a;
  --foreground: #f8fafc;
  --main-container: var(--color-indigo-500);
  --sub-container: var(--color-indigo-400);
  --button-container: var(--color-amber-500);
  --accent-element: var(--color-indigo-300);
  --hover: var(--color-amber-700);
  --active-element: var(--color-violet-300);
  --input: var(--color-gray-700);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-mainContainer: var(--main-container);
  --color-subContainer: var(--sub-container);
  --color-buttonContainer: var(--button-container);
  --color-accentElement: var(--accent-element);
  --color-hover: var(--hover);
  --color-activeElement: var(--active-element);
}

/* global styles components */
/* .indents-main-container {
  @apply m-4 p-4;
} */

/*  */
@layer utilities {
  .indents-main-container {
    @apply m-4 p-4;
  }

  .indents-container-sub {
    @apply m-2 p-2;
  }

  .max-content-main-container {
    @apply max-w-6xl w-full;
  }

  .rounded-medium {
    @apply rounded-lg;
  }

  .rounded-circle {
    @apply rounded-full;
  }

  .rounded-small {
    @apply rounded-sm;
  }

  .rounded-large {
    @apply rounded-3xl;
  }
}

/* базовое применение */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* фикс скачка при появлении скролла */
html {
  scrollbar-gutter: stable;
}