@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-container: var(--color-cyan-500);
  --sub-container: var(--color-cyan-400);
}

:root.dark {
  --background: #0f172a;
  --foreground: #f8fafc;
  --main-container: var(--color-indigo-500);
  --sub-container: var(--color-indigo-400);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-mainContainer: var(--main-container);
  --color-subContainer: var(--sub-container);
}

@utility indents-main-container {
  @apply m-4 p-4;
}

@utility indents-container-sub {
  @apply m-2 p-2;
}

@utility max-content-main-container {
  @apply max-w-6xl w-full;
}

@utility rounded-medium {
  @apply rounded-lg;
}

@utility rounded-circle {
  @apply rounded-full;
}

@utility rounded-small {
  @apply rounded-sm;
}

@utility rounded-large {
  @apply rounded-3xl;
}

/* базовое применение */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* фикс скачка при появлении скролла */
html {
  scrollbar-gutter: stable;
}