@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root.dark {
  --background: #0f172a;
  --foreground: #f8fafc;
}

/* базовое применение */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* фикс скачка при появлении скролла */
html {
  scrollbar-gutter: stable;
}